@font-face{
    font-family: 'Libre Franklin', sans-serif;
    src: "https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap";


}

:root{
    --black:#2e2e2e;
    --main-font: Libre Franklin
    
}

.title{
    font-family: var(--main-font);
    color: var(--black);
    padding: 0.5rem;
    /* font-weight: 100; */
    font-size: 2.8rem;
}

.sub-header{
    font-family: var(--main-font);
    color: var(--black);
    padding: 0.5rem;
    font-weight: 600;
}
p{
    font-family: var(--main-font);
    font-weight: 100;
    font-size: 1.5rem;
    text-align: left;
}

.footer{
    font-family: var(--main-font);
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
}